.faq {
	width: 100%;
	background: $brand-dark;
	padding: 3em;
}

.faq-inner {
	max-width: 50em;
	margin: 0 auto;
}

// @media (max-width: 35em) {
// 	.faq {
// 		width: 100%;
// 		padding: 1em;
// 	}
// }