footer {
	max-width: 70em;
	margin: 0 auto;
	position: relative;
}

@media (max-width: 35em) {
	footer {
		width: 100%;
		padding: 1em;
	}
}

ul.footernav {
	text-align: center;	
}

ul.footernav li {
	display: inline-block;	
	margin: 0 1em;
}

.square2 {
	width: 40em;
    height: 40em;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: $accent;
    position: absolute;
    z-index: -1;
    bottom: 580px;
    left: 260px;
}

@media (max-width: 85em) {
	.square2 {
		background: $accent;
		position: absolute;
		z-index: -1;
		top: -1330px;
		left: 100px;
	}
}	

@media (max-width: 35em) {
	.square2 {
		background: $alt-accent;
		position: absolute;
		z-index: -1;
		top: -1680px;
	    left: -158px;
	}
}