.subscribe {
	margin: 0 auto;
	text-align: center;
	max-width: 35em;
    box-shadow: rgba(0, 0, 0, 0.4) 0 45px 70px;
}

#mc_embed_signup {
	margin: 5em 0 5em 0;
	padding: 2em;
	background: $brand;
	color: $white;
	border: 5px solid $brand-dark;
}

.submit-button {
    clear: both;
    font-family: $font-main;
    font-weight: 700 !important;
    background-color: $accent;
    border: 0 none !important;
    border-radius: 4px;
    transition: all 0.23s ease-in-out 0s !important;
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    height: 32px;
    line-height: 32px;
    margin: 0 5px 10px 0 !important;
    padding: 0 22px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    width: auto;
}

@media (max-width: 35em) {
	#mc_embed_signup {
		background: $alt-brand;
		color: $white;
		border: 5px solid $alt-brand-dark;
	}

	.submit-button {
	    font-family: $font-main;
	    background-color: $alt-accent;
	    color: $white;
	}	
}