
//------------------------------------
//    $VARIABLES
//------------------------------------


/** Fonts */
$base-font-size: 18px;

/** Colours */
$accent: #50E3C2;
$brand: #9D2DFF;
$brand-dark: #8828DD;
$light: #F9F9F9;
$white: #FFF;
$dark: #212121;

/** Typography */
$font-main: 'Cooper Hewitt', 'Helvetica Neue', sans-serif;
