header {
	max-width: 70em;
	margin: 0 auto;
	position: absolute;
	top: 0;
	left: 0%;
}

@media (max-width: 35em) {
	header {
		width: 100%;
		padding: 1em;
	}
}

.square {
    width: 120em;
    height: 70em;
    transform: rotate(60deg);
    background: $white;
    position: absolute;
    z-index: -1;
	top: -1347px;
    left: -449px;
}

@media (max-width: 85em) {
	.square {
		transform: rotate(60deg);
		background: $white;
		position: absolute;
		z-index: -1;
	    top: -1380px;
	    left: -844px;
	}
}	

@media (max-width: 35em) {
	.square {
		transform: rotate(60deg);
		background: $white;
		position: absolute;
		z-index: -1;
	    top: -1537px;
	    left: -1008px;
	}
}	