
//------------------------------------
//    $VARIABLES
//------------------------------------

/** Fonts */
$base-font-size: 18px;

/** Base */
$light: #F9F9F9;
$white: #FFF;
$dark: #212121;


/** Brand Colours */
$brand: #8213E3;
$brand-dark: #6E10C1;
$accent: #50E3C2;

/** Alt Brand Colours */
$alt-brand: #0000EE;
$alt-brand-dark: #0707BF;
$alt-accent: #F11D78;

/** Typography */
$font-main: 'Cooper Hewitt', 'Helvetica Neue', sans-serif;